*.fasl
*.in
*.lx??fsl
*.o
*.so
*~
.\#*
INSTALL
Makefile
\#*
aclocal.m4
aclocal/
autom4te.cache/
build
compile
config.guess
config.log
config.status
config.sub
configure
defs.h
depcomp
install-sh
libtool
ltmain.sh
missing
moc_*
qt.mk
qt.pro
rcc_*
scriptlcom
src/.deps
src/xleapmouse
stamp-h1
uic_*
